<!DOCTYPE html>
<html lang="zh-hans">

<head>
    <meta property="og:title" content="Home" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-180183825-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-180183825-1');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/css/mdui.min.css">
    <link rel="shortcut icon" href="./static/favicon.ico">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.0.3/build/styles/default.min.css">
    <title>OpenJudge Search</title>
    <link rel="stylesheet" href="./static/css/style.css">
</head>

<body class="mdui-theme-primary-teal mdui-theme-accent-teal mdui-appbar-with-toolbar">
    <div id="app"></div>
    <script src="https://utteranc.es/client.js" repo="sihuan/OpenJudge" issue-term="title" label="Utterances"
        theme="github-light" crossorigin="anonymous" async>
        </script>
</body>

<script src="./static/js/mdui.min.js"></script>
<script src="./static/js/vue.js"></script>
<!-- <script src="./static/js/axios.js"></script> -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.0.3/build/highlight.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/marked@4.0.0/marked.min.js"></script>
<script>
    app = new Vue({
        el: "#app",
        data: {
            status: "0",
            problemcode: '',
            codes: [],
            problem: "",
            we: ['cutefox', 'cyd', 'czy', 'd6s3', 'fhy', 'rs_learner', 'sihuan', 'weilinfox', 'wfb', 'wpl', 'lpy_now', 'sxr', 'lyf-grq'],
            baseurl: "https://cdn.jsdelivr.net/gh/sihuan/OpenJudge@master/",
            startmsg: `# 欢迎来到 OpenJudge

> 我们收集了一些 OJ 题目和 AC 代码用于学习交流，一切权利属于原作者

## 使用方式

右上角输入 4 位数字题号就好啦。

## 贡献

> 如果你想贡献你可以访问的题目或者你的 AC 代码，可以点击下面的链接

- 项目地址 [OpenJudge](https://github.com/sihuan/OpenJudge)

- 用户交流 [鹅群](https://jq.qq.com/?_wv=1027&k=vnDitXDT)`,
            notfound1: "# 暂时还没有收录",
            notfound2: `

> 如果你现在拥有这个题目的访问权限的话，欢迎贡献~

## 贡献方式

- 项目地址 [OpenJudge](https://github.com/sihuan/OpenJudge)

- 用户交流 [鹅群](https://jq.qq.com/?_wv=1027&k=vnDitXDT)`,
        },
        template: `
        <div>
            <div class="mdui-appbar mdui-appbar-fixed mdui-appbar-scroll-hide mdui-m-b-5">
                <div class="mdui-toolbar head-field">
                    <!-- <div class="mdui-toolbar-spacer"></div> -->
                    <span class="mdui-typo-title white-color">OpenJudge</span>
                    <div class="mdui-textfield search-textfield">
                        <i class="mdui-icon material-icons white-color">search</i>
                        <input v-model="problemcode" class="mdui-textfield-input white-color search-input" type="text"
                            placeholder="输入题号吧～～" />
                    </div>
                    <!-- <a href="https://github.com/sihuan/OpenJudge" class="mdui-btn mdui-btn-icon"><i
                            class="mdui-icon material-icons">chat_bubble_outline</i></a> -->
                </div>
            </div>
            <div class="mdui-container mdui-m-t-5">
                <div class="mdui-row">
                    <!-- <div class="mdui-col-12">
                        <div class="mdui-card" style="padding: 10px;">
                            <div :class="{ 'mdui-textfield-invalid': status=='404'}"
                                class="mdui-textfield mdui-textfield-floating-label">
                                <i class="mdui-icon material-icons">search</i>
                                <label class="mdui-textfield-label">题号</label>
                                <input v-model="problemcode" class="mdui-textfield-input" type="text" />
                                <div v-if="status=='404'" class="mdui-textfield-error">此题还未收录！</div>
                                <div class="mdui-textfield-helper">请输入4位题号</div>
                            </div>
                            <div class="mdui-card-actions">
                                <button @click="search" class="mdui-btn mdui-ripple mdui-color-teal-300">Search</button>
                            </div>
                        </div> -->

                    <div v-if="problem" class="mdui-card mdui-color-grey-100">
                        <div class="mdui-card-content">
                            <span class="mdui-typo" v-html="problem"></span>
                        </div>
                    </div>

                    <div v-for='c in codes' class="mdui-card mdui-m-t-4">
                        <!-- 卡片的标题和副标题 -->
                        <div class="mdui-card-primary mdui-color-grey-200">
                            <div class="mdui-card-primary-title">{{ c.pcode }}</div>
                            <div class="mdui-card-primary-subtitle">by {{ c.name }}</div>
                        </div>

                        <!-- 卡片的内容 -->
                        <div class="mdui-card-content">
                            <pre><code v-html="c.codehl">
                            </code></pre>
                        </div>

                        <!-- 卡片的按钮 -->
                        <div class="mdui-card-actions mdui-color-grey-200">
                            <button @click="copy(c.code)" class="mdui-btn mdui-ripple copy-btn">Copy</button>
                            <!-- <button class="mdui-btn mdui-ripple">action 2</button> -->
                        </div>

                    </div>


                </div>
            </div>
        </div>
        `,
        created: function () {
            this.problem = marked.marked(this.startmsg);
            this.problemcode = window.location.search.substring(1);
        },
        watch: {
            problemcode: function (newProblemcode, oldQProblemcode) {
                if (!newProblemcode.match(/^\d{0,4}$/)) {
                    mdui.snackbar({
                        message: '请输入四位纯数字题号！！！',
                        timeout: 700,
                    });
                }
                this.problemcode = newProblemcode.replace(/[^\d]/g, '').substring(0, 4);
                oldQProblemcode = oldQProblemcode.substring(0, 4);
                if (this.problemcode !== oldQProblemcode && newProblemcode.match(/^\d{4}$/)) {
                    this.search();
                    mdui.snackbar({
                        message: 'Searching!',
                        timeout: 700,
                    });
                }
            },
        },
        methods: {
            copy: function (code) {
                let txa = document.createElement('textarea')
                txa.setAttribute('readonly', 'readonly')
                txa.value = code
                document.body.appendChild(txa)
                txa.select()
                let res = document.execCommand('copy')
                document.body.removeChild(txa)
                mdui.snackbar({
                    message: 'Copyed!',
                    timeout: 700,
                });
            },
            search: function () {
                this.codes = []
                document.title = 'Problem ' + this.problemcode;
                axios.get(this.baseurl + 'ProblemSet/' + this.problemcode + '/' + 'problem.md')
                    .then(
                        (response => (this.problem = marked.marked(response.data), this.status = response
                            .status))
                    ).catch((error => (this.status = error.response.status, this.problem = marked.marked(this
                        .notfound1 + this.problemcode + this.notfound2))))

                this.we.forEach(one => {
                    url = this.baseurl + 'QuestionAns/' + one + '/' + this.problemcode + '.c'
                    axios.get(url)
                        .then((response => (this.codes.push({
                            'name': one,
                            'pcode': this.problemcode + '.c',
                            'lang': 'c',
                            'codehl': hljs.highlight('c-like', response.data)
                                .value,
                            'code': response.data,
                        }))))
                        .catch(
                            (error => (console.log(one + '/' + this.problemcode + '.c   ' +
                                error.response.status)))
                        )

                });
                this.we.forEach(one => {
                    url = this.baseurl + 'QuestionAns/' + one + '/' + this.problemcode + '.cc'
                    axios.get(url)
                        .then((response => (this.codes.push({
                            'name': one,
                            'pcode': this.problemcode + '.cc',
                            'lang': 'cc',
                            'codehl': hljs.highlight('cpp', response.data)
                                .value,
                            'code': response.data,
                        }))))
                        .catch(
                            (error => (console.log(one + '/' + this.problemcode + '.cc  ' +
                                error.response.status)))
                        )
                });
            },
        }
    })
</script>
</html>
