<!DOCTYPE html>
<html lang="zh-hans">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/css/mdui.min.css">
    <script src="./static/js/mdui.min.js"></script>
    <script src="./static/js/vue.js"></script>
    <!-- <script src="./static/js/axios.js"></script> -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="shortcut icon" href="./static/favicon.ico">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.0.3/build/styles/default.min.css">
    <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.0.3/build/highlight.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <title>OpenJudge Search</title>
</head>

<body class="mdui-theme-primary-teal mdui-theme-accent-teal">
    <div class="mdui-toolbar mdui-color-teal-100" style="margin-bottom:50px">
        <div class="mdui-toolbar-spacer"></div>
        <span class="mdui-typo-title"><a href="https://github.com/Si-Huan/OpenJudge">OpenJudge Search</a></span>
        <div class="mdui-toolbar-spacer"></div>
    </div>
    <div id="app" class="mdui-container">
        <div class="mdui-row">
            <div class="mdui-col-12">
                <div class="mdui-card" style="padding: 10px;">
                    <div :class="{ 'mdui-textfield-invalid': status=='-1'}"
                        class="mdui-textfield mdui-textfield-floating-label">
                        <i class="mdui-icon material-icons">search</i>
                        <label class="mdui-textfield-label">题号</label>
                        <input v-model="problemcode" class="mdui-textfield-input" type="text" />
                        <div v-if="status=='-1'" class="mdui-textfield-error">查不到这个学号！</div>
                        <div class="mdui-textfield-helper">请输入4位题号</div>
                    </div>
                    <div class="mdui-card-actions">
                        <button @click="search" class="mdui-btn mdui-ripple mdui-color-teal-300">Search</button>
                    </div>
                </div>

                <div v-if="problem" class="mdui-card mdui-color-grey-100">
                    <div class="mdui-card-content">
                        <span class="mdui-typo" v-html="problem"></span>
                    </div>
                </div>

                <div v-for='c in codes' class="mdui-card mdui-m-t-4">
                    <!-- 卡片的标题和副标题 -->
                    <div class="mdui-card-primary mdui-color-grey-200">
                        <div class="mdui-card-primary-title">{{ problemcode }}.{{ c.lang }}</div>
                        <div class="mdui-card-primary-subtitle">by {{ c.name }}</div>
                    </div>

                    <!-- 卡片的内容 -->
                    <div class="mdui-card-content">
                        <pre><code v-html="c.codehl">
                        </code></pre>
                    </div>

                    <!-- 卡片的按钮 -->
                    <div class="mdui-card-actions mdui-color-grey-200">
                        <button @click="copy(c.code)" class="mdui-btn mdui-ripple mdui-color-teal-300">Copy</button>
                        <!-- <button class="mdui-btn mdui-ripple">action 2</button> -->
                    </div>

                </div>


            </div>
        </div>
    </div>

    <script>
        app = new Vue({
            el: "#app",
            data: {
                status: "0",
                problemcode: '',
                codes: [],
                problem: "",
                we: ['cyd', 'czy', 'd6s3', 'fhy', 'mocyree', 'rs_learner', 'sihuan', 'weilinfox', 'wfb', 'wpl'],
                baseurl: "https://cdn.jsdelivr.net/gh/Si-Huan/OpenJudge@master/",
            },
            methods: {
                copy: function (code) {
                    let txa = document.createElement('textarea')
                    txa.setAttribute('readonly', 'readonly')
                    txa.value = code
                    document.body.appendChild(txa)
                    txa.select()
                    let res = document.execCommand('copy')
                    document.body.removeChild(txa)
                    mdui.snackbar({
                        message: 'Copyed!'
                    });
                },
                search: function () {
                    // this.problem =''
                    this.codes = []

                    axios.get(this.baseurl + 'ProblemSet/' + this.problemcode + '/' + 'problem.md').then(
                        (response => (this.problem = marked(response.data)))
                    )

                    if (this.problem == '') {
                        this.status == '-1'
                        return
                    }

                    this.we.forEach(one => {
                        url = this.baseurl + one + '/' + this.problemcode + '.c'
                        axios.get(url)
                            .then((response => (this.codes.push({
                                'name': one,
                                'lang': 'c',
                                'codehl': hljs.highlight('c-like', response.data)
                                    .value,
                                'code': response.data,
                            }))))

                    });
                    this.we.forEach(one => {
                        url = this.baseurl + one + '/' + this.problemcode + '.cc'
                        axios.get(url)
                            .then((response => (this.codes.push({
                                'name': one,
                                'lang': 'cc',
                                'codehl': hljs.highlight('cpp', response.data)
                                    .value,
                                'code': response.data,
                            }))))
                    });
                },
            }
        })
    </script>
</body>

</html>