body{
    --color-blue: #4C98F7;
}

pre{
    overflow: scroll;
}

.copy-btn{
    color: #fff !important;
    background-color: var(--color-blue);
}

.copy-btn:hover{
    background-color: var(--color-blue);
}

.head-field{
    justify-content: space-between;
    background-color: var(--color-blue) !important;
    align-items: center;
}

.search-textfield{
    flex: 1;
    max-width: 300px;
}

.white-color{
    color: #fff !important;
}

.search-input{
    border-bottom: 1px solid #fff;
}

.search-input:hover{
    border-bottom: 1px solid #eee !important;
    box-shadow: none !important;
}

.mdui-theme-accent-teal .mdui-typo a{
    color: var(--color-blue) !important;
}

.mdui-theme-accent-teal .mdui-typo a:before{
    background-color: var(--color-blue) !important;
}